<a href="/user/<%= current_user.id %>">Profile</a>
<h1>All Mantras</h1>
	<div>
		<ol>
		<span class="all-mantras">
			
			<% @mantras.each do |mantra| %>
			<%mantra.commenters.each do |commenter|%>
			By: <%= commenter.name %>
			<% end %>
			</span>
			<li><a href="/mantra/<%= mantra.id %>"><%= mantra.focus %></a><br><a class='vote-button' href="/upquote/<%= mantra.id %>">∆</a></li>
			<span id="<%= mantra.id %>">
			Upquotes: <%= mantra.upquotes.count %>
			</span>
		<% end %>
		</ol>
	</div>


