<a href="/mantra/all">All Mantras</a>

<div>
	<h2>Focus Number [<%= @mantra.id %>]</h2>
	<a href="/mantra/<%= @mantra.id %>"><%= @mantra.focus %></a>
	<% if current_user %>
	<div class="update-btns">
		Update Your Focus:<%= erb :'/mantra/_edit' %>
			<form action="/mantra/<%= @mantra.id %>" value="POST">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete?">
			</form>
	</div>
	<% end %>
</div>

<!-- Add partial here for adding response to Mantra -->

<div id="responde">
	<h3>Responses</h3>
		<ul>
			<%= @mantra.responses %>
		</ul>
</div>
